.mainWrapper {
    min-height: calc(65vh - 100px);
    display: flex;
    align-items: stretch;
}

.contentSection {
    display: flex;
    width: 100%;
    flex-direction: column;
    text-align: center;
}

.textContent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.textContentWrapper {
    padding: 0 60px;
    max-width: 800px;
    width: 100%;
}

.title {
    font-size: 3rem;
    color: #00589e;
    font-weight: 800;
    line-height: 1;
    margin-bottom: 30px;
    width: 100%;
}

.message {
    font-size: 1rem;
    color: #060606;
    max-width: 90%;
    line-height: 1.5;
    margin: 0 auto 50px auto;
}

.backButton {
    background-color: #00c4f0;
    color: white;
    padding: 20px 35px;
    text-decoration: none;
    font-weight: 700;
    transition: background-color 0.3s;
}

.backButton:hover {
    background-color: #0099bc;
}

.imageContainer {
    display: none;
    position: relative;
    flex: 1;
    width: 100%;
}

.houseImage {
    object-fit: cover;
}

@media (min-width: 1280px) {

    .mainWrapper {
        min-height: calc(100vh - 100px);
    }

    .contentSection {
        flex-direction: row;
        align-items: stretch;
        min-height: calc(100vh - 100px);
        text-align: left;
        padding: 0;
    }

    .message{
        margin: 0 0 50px 0;
    }

    .textContent {
        flex: 1;
        justify-content: center;
        align-items: center;
    }

    .textContentWrapper {
        padding: 0 60px;
        max-width: 700px;
        width: 100%;
        margin: 0;
    }

    .imageContainer {
        display: block;
        flex: 1;
        height: auto;
    }
}


@media (max-width: 768px) {
    .textContentWrapper {
        padding: 0 30px;
    }

    .title {
        font-size: 2.2rem;
    }
}

