.aboutSection {
    padding: 60px 0;
    background-color: #fff;
}

.container {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 20px;
}
.iconWrapper {
    display: flex;
    justify-content: flex-start;
    margin-bottom: -40px;
    color: #060606;
}
.mainTitle {
    font-size: 3.5rem;
    font-weight: 800;
    color: #000;
    margin-bottom: 30px;
}

.contentWrapper {
    display: block;
}

/* Contenedor flotante para rodear con texto */
.imageFloatContainer {
    float: right;
    width: 45%;
    margin-left: 30px;
    margin-bottom: 20px;
}

.imageBorderBox {
    border: 3px solid #ffcc00;
    padding: 0;
}

.aboutImage {
    width: 100%;
    height: auto;
    display: block;
}

.subTitle {
    font-size: 1.6rem;
    color: #060606;
    margin-bottom: 20px;
    font-weight: 600;
}

.paragraph {
    font-size: 1.1rem;
    line-height: 1.8;
    color: #060606;
    margin-bottom: 20px;
    text-align: justify;
}

.highlight {
    color: #260557;
}

.sectionHeading {
    font-size: 1.5rem;
    color: #000;
    font-weight: 700;
    margin: 30px 0 15px;
}

.footerContact {
    margin-top: 50px;
    text-align: center;
    font-size: 1.1rem;
    font-weight: bold;
    clear: both;
    padding-top: 40px;
    color: #060606;
}

.contactLink {
    color: #4803b1;
    text-decoration: none;
    font-weight: bold;
}

/* Ajuste para Mobile */
@media (max-width: 1280px) {
    .aboutSection {
        padding: 0 100px 60px 100px;
    }

    .iconWrapper {
        margin: -20px 0 -50px 0;
    }

    .iconWrapper svg{
        width: 110px;
    }

    .imageFloatContainer {
        float: none;
        width: 100%;
        margin-left: 0;
        margin-bottom: 60px;
    }

    .mainTitle {
        font-size: 2.5rem;
    }
}

@media (max-width: 687px) {
    .aboutSection {
        padding: 0 20px 60px 20px;
    }
    .iconWrapper {
        margin: -40px 0 -50px 0;
    }

    .iconWrapper svg{
        width: 90px;
    }

    .paragraph {
        font-size: 0.95rem;
    }

    .footerContact {
        margin-top: 0;
        font-size: 0.95rem;
    }
}