.financingSection {
    text-align: center;
    margin: 0 auto 80px auto;
    padding: 0 0;
    max-width: 1500px;
}

.financingTitle {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 20px;
}

.financingDescription {
    margin: 0 auto 30px;
    line-height: 1.5;
    font-size: 16px;
}

.btnLearnMore {
    display: inline-block;
    background-color: #00ccff;
    color: white;
    padding: 15px 40px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 2px;
}


.btnLearnMore:hover {
    background-color: white;
    color: #060606;
}


/* Responsive */
@media (max-width: 1024px) {
    .financingTitle {
        font-size: 36px;
    }

    /* Financing */
    .financingSection {
        padding: 0 100px;
    }
}

/* Responsive */
@media (max-width: 978px) {
    .financingTitle {
        font-size: 36px;
    }

    /* Financing */
    .financingSection {
        padding: 0 20px;
    }
}