.galleryWrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
}

.imageItem {
    flex: 1;
    position: relative;
    line-height: 0;
}

.imageItem img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

/* --- RESPONSIVE LOGIC --- */
@media (max-width: 1280px) {
    .galleryWrapper {
        display: flex;
    }
}

@media (max-width: 767px) {
    .galleryWrapper {
        display: none;
    }
}