.recoverySection {
    width: 100%;
    background-color: #ffffff;
    overflow: hidden;
    margin: 50px 0;
}

.container {
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    align-items: flex-start;
}

.mainImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* --- BLOQUE DERECHA: TEXTO --- */
.textContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 60px 10% 60px 5%;
    background-color: #fff;
    margin: auto 0;
}

.title {
    font-family: var(--font-prompt);
    color: #005aab;
    font-size: clamp(2.5rem, 6vw, 4rem);
    line-height: 1.1;
    margin-bottom: 30px;
    font-weight: 800;
}

.bodyText p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1rem;
    color: #060606;
    line-height: 1.8;
    margin-bottom: 25px;
    max-width: 600px;
}

/* --- RESPONSIVE --- */
@media (max-width: 1280px) {
    .recoverySection {
        margin-bottom: 0;
    }

    .container {
        grid-template-columns: 1fr;
    }

    .imageContainer {
        height: 400px;
    }

    .yellowFrame {
        inset: 20px 0 20px 0;
    }

    .imageWrapper {
        padding: 40px 20px;
    }
}