.mainWrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.breadcrumb {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    color: #00c3f8;
}

.breadcrumb a:hover{
    color: #00c3f8;
}

.homeLink{
    color: black;
}



.separator {
    height: 1px;
    background: #eee;
    margin: 15px 0 40px 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 30px;
}

.title {
    font-size: 52px;
    color: #004a8c; /* Azul oscuro del logo */
    margin: 0;
}

.categoryLabel {
    font-size: 22px;
    color: #004a8c;
    margin: 5px 0 0 0;
}

.viewMoreBtn {
    font-weight: bold;
    text-decoration: none;
    color: #000;
    border-bottom: 2px solid #000;
    padding-bottom: 2px;
}

.viewMoreBtn:hover {
    color: #000;
}

/* Grid 2x2 */
.blogGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.card {
    background: #000;
    color: #fff;
    overflow: hidden;
}

.imageWrapper {
    position: relative;
    width: 100%;
    height: 250px;
}

.cardContent {
    padding: 25px;
}

.cardTitle {
    font-size: 1.2rem;
    line-height: 1.4;
    margin-bottom: 15px;
    min-height: 3em;
}

.cardDate {
    font-size: 14px;
    color: #bbb;
}

/* Mobile */
@media (max-width: 768px) {
    .blogGrid {
        grid-template-columns: 1fr;
    }
    .title { font-size: 32px; }
}