.recoverySection {
    width: 100%;
    background-color: #ffffff;
    overflow: hidden;
    margin: 100px 0 50px 0;
}

.container {
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    align-items: flex-start;
}

.mainImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* --- BLOQUE DERECHA: TEXTO --- */
.textContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 60px 10% 60px 5%;
    background-color: #fff;
}

.title {
    font-family: var(--font-prompt);
    color: #00589e;
    font-size: clamp(2.5rem, 6vw, 4rem);
    line-height: 1.1;
    margin-bottom: 30px;
    font-weight: 800;
}

.bodyText p {
    font-family: var(--font-open-sans);
    font-size: 1.1rem;
    color: #060606;
    line-height: 1.8;
    margin-bottom: 25px;
}


.benefitsList {
    list-style: none;
    padding: 0;
}

.benefitsList li {
    position: relative;
    padding-left: 35px;
    margin-bottom: 20px;
    font-size: 1.1rem;
    line-height: 1.5;
    color: #060606;
}

.benefitsList li strong{
    color: #060606;
    font-weight: bold;
}

.benefitsList li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 12px;
    width: 20px;
    height: 3px;
    background-color: #00c3f8; /* El guion celeste del mockup */
}


/* --- RESPONSIVE --- */
@media (max-width: 1280px) {
    .recoverySection {
        padding: 0 100px;
        margin: 0;
    }
    .textContent{
        margin: 0;
    }

    .container{
        display: flex;
        margin: 0;
    }

    .title{
        font-size: 2.6rem;
    }

    .bodyText p{
        font-size: 1rem;
    }

    .benefitsList li{
        font-size: 1rem;
    }

    .ctaBanner {
        padding: 30px 10px;
        text-align: center;
        font-size: 1rem;
    }
    .imageContainer {
        display: none;
    }
}

/* --- RESPONSIVE --- */
@media (max-width: 768px) {
    .recoverySection {
        padding: 0 20px;
    }

    .container{
        display: flex;
        flex-direction: column-reverse;
    }

    .textContent {
        padding: 0 5%;
        order: 2;
    }

    .subtitle {
        color: #00589e;
        font-size: 1.8rem;
    }

    .bodyText p{
        font-size: 0.95rem;
    }

    .benefitsList li{
        font-size: 0.95rem;
    }

    .benefitsList li::before {
        left: 5px;
        top: 12px;
        width: 15px;
    }

    .ctaBanner {
        padding: 30px 10px;
        text-align: center;
        font-size: 0.9rem;
    }

    .imageColumn {
        order: 1;
        padding: 0 20px;
        margin-bottom: 50px;
    }

    .title { font-size: 2.2rem; }
}