.recoverySection {
    width: 100%;
    background-color: #ffffff;
    overflow: hidden;
    margin: 100px 0 50px 0;
}

.container {
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    align-items: flex-start;
}

.mainImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* --- BLOQUE DERECHA: TEXTO --- */
.textContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 60px 10% 60px 5%;
    background-color: #fff;
}

.subtitle {
    color: #00589e;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 2rem;
    margin-bottom: 20px;
}

.title {
    font-family: var(--font-prompt);
    color: #00589e;
    font-size: 3.5rem;
    line-height: 1.1;
    margin-bottom: 30px;
    font-weight: 800;
}

.question{
    color: #00589e;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 1.5rem;
    margin: 20px 0;
}

.paragraph{
    font-family: 'Open Sans', sans-serif;
    line-height: 1.8;
    font-size: 1.1rem;
    margin-bottom: 25px;
    color: #060606;
}

.inlineLink{
    color: #00c3f8;
}

.inlineLink:hover{
    color: #060606;
}

.ctaBanner {
    background: #00589e;
    padding: 30px 30px;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    color: white !important;
}


/* --- LÓGICA DE EXPANSIÓN --- */


.readMoreWrapper {
    border-top: 1px solid #f7d000;
    padding-top: 20px;
    margin-top: 20px;
    margin-bottom: 40px;
}

.readMoreBtn {
    background: none;
    border: none;
    color: #000;
    font-weight: 800;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 0.95rem;
    letter-spacing: 1px;
}

.expandableContent {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out, opacity 0.3s ease;
    opacity: 0;
}

.expanded {
    max-height: none;
    opacity: 1;
    margin-top: 20px;
}

.arrow {
    transition: transform 0.3s ease;
    color: #00ccff;
    font-size: 1rem;
}
.arrowUp { transform: rotate(180deg); }

.ctaBanner {
    background-color: #00589e;
    color: #fff;
    padding: 30px;
    border-radius: 2px;
    font-size: 1.1rem;
    text-align: center;
    font-weight: bold;
}

.yellowLink {
    color: #ffcc00;
    font-weight: 700;
}


/* --- RESPONSIVE --- */
@media (max-width: 1280px) {
    .recoverySection {
        padding: 0 100px;
        margin: 0;
    }
    .textContent{
        margin: 0;
    }

    .container{
        display: flex;
        margin: 0;
    }

    .title{
        font-size: 2.6rem;
    }

    .bodyText p{
        font-size: 1rem;
    }

    .benefitsList li{
        font-size: 1rem;
    }

    .ctaBanner {
        padding: 30px 10px;
        text-align: center;
        font-size: 1rem;
    }
    .imageContainer {
        display: none;
    }
}

/* --- RESPONSIVE --- */
@media (max-width: 768px) {
    .recoverySection {
        padding: 0 20px;
    }

    .container{
        display: flex;
        flex-direction: column-reverse;
    }

    .textContent {
        padding: 0 5%;
        order: 2;
    }

    .paragraph{
        font-size: 0.95rem;
    }

    .subtitle {
        color: #00589e;
        font-size: 1.8rem;
    }

    .bodyText p{
        font-size: 0.95rem;
    }

    .benefitsList li{
        font-size: 0.95rem;
    }

    .benefitsList li::before {
        left: 5px;
        top: 12px;
        width: 15px;
    }

    .ctaBanner {
        padding: 30px 10px;
        text-align: center;
        font-size: 0.95rem;
    }

    .imageColumn {
        order: 1;
        padding: 0 20px;
        margin-bottom: 50px;
    }

    .title { font-size: 2.2rem; }
}