.headerContainer {
    width: 100%;
    font-family: sans-serif;
}

.topBar {
    background-color: #f7d000;
    color: #00589e;
    padding: 20px 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    font-weight: 800;
}

.topBar span{
    font-size: 1.1rem;
    font-weight: lighter;
    margin-left: 13px;
}

.topBarNavLink{
    font-size: 1rem;
    font-weight: lighter;
    margin-left: 13px;
}

.mainNav {
    background-color: #00589e;
    padding: 45px 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.logoContainer img {
    height: 120px;
    width: auto;
}

.desktopMenu {
    display: flex;
    align-items: center;
    gap: 45px;
    list-style: none;
}

.hasDropdown {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
}

.dropdownMenu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #000000;
    min-width: 300px;
    list-style: none;
    padding: 30px 30px;
    margin: 0;
    display: none; /* Escondido por defecto */
    z-index: 1000;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
}

.hasDropdown:hover .dropdownMenu {
    display: block;
}

.dropdownMenu li {
    border-bottom: 1px solid white;
}

.dropdownMenu li:last-child {
    border-bottom: none;
}

.dropdownMenu li a {
    display: block;
    padding: 15px 0;
    color: #ffffff;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    transition: background 0.3s ease, color 0.3s ease;
}


.dropdownMenu li a:hover {
    color: #ffcc00; /* Color celeste de tu marca */
}


.hasDropdown:hover .navLink {
    color: #ffcc00; /* O el color que uses para hover en el menú principal */
    padding: 20px 0;
}

.navLink {
    color: #f7d000;
    text-decoration: none;
    font-weight: 700;
    font-size: 1.1rem;
    transition: color 0.3s;
}

.navLink:hover {
    color: white;
}

.quoteBtn {
    background-color: black;
    color: white;
    padding: 12px 24px;
    font-size: 1rem;
    font-weight: 900;
    border: none;
    cursor: pointer;
    transition: background 0.3s;
}

.quoteBtn:hover {
    background-color: #f7d000;
}

.searchIcon{
    color: #f7d000;
}
.searchIcon:hover {
    color: white;
}

/* Tablet / Mobile Logic */
.menuToggle {
    display: none;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
}

@media (max-width: 1100px) {
    .logoContainer img {
        height: 95px;
        width: auto;
    }

    .desktopMenu, .topBar {
        display: none;
    }
    .menuToggle {
        display: block;
    }
    .mainNav {
        padding: 30px 20px;
    }
}