.projectsSection {
    padding: 100px 0;
    background-color: #fff;
    overflow: hidden;
}

.container {
    max-width: 1500px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 80px;
    padding: 0 20px;
}

.imageColumn {
    flex: 1;
}

.mainImage {
    width: 100%;
    height: auto;
    display: block;
}

.textContent {
    flex: 1.2;
}

.iconWrapper {
    margin-bottom: -45px;
}

.title {
    color: #0056b3;
    font-size: 4rem;
    font-weight: 800;
    line-height: 1.1;
    margin-bottom: 30px;
}

.paragraph {
    color: #060606;
    font-size: 1.1rem;
    line-height: 1.7;
    margin-bottom: 30px;
}

.inlineLink {
    color: #00c3f8;
    text-decoration: none;
    font-weight: 700;
}

.listHeader {
    font-size: 1.1rem;
    font-weight: lighter;
    margin-bottom: 25px;
}

/* --- LISTA CLICABLE CON LÍNEAS AZULES --- */
.clickableList {
    list-style: none;
    padding: 0;
    margin-bottom: 35px;
}

.clickableList li {
    position: relative;
    padding-left: 35px;
    margin-bottom: 15px;
    font-size: 1.1rem;
}

.clickableList li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 3px;
    background-color: #00c3f8;
}

.clickableList a {
    text-decoration: none;
    color: #00c3f8;
    font-size: 1.15rem;
    font-weight: 600;
    transition: all 0.3s ease;
}

.clickableList a:hover {
    color: #060606;
}

.footerText {
    color: #333;
    font-size: 1.2rem;
    line-height: 1.6;
}

/* --- RESPONSIVE TABLET (1280px) --- */
@media (max-width: 1280px) {
    .projectsSection {
        padding: 40px 100px;
    }

    .container {
        gap: 40px;
        flex-direction: column-reverse;
    }
    .title {
        font-size: 3.2rem;
    }
}

/* --- RESPONSIVE MOBILE (768px) --- */
@media (max-width: 768px) {
    .projectsSection {
        padding: 60px 20px 30px 20px;
    }

    .container {
        flex-direction: column-reverse;
        gap: 10px;
    }

    .imageColumn {
        width: 100%;
        margin-bottom: 30px;
    }

    .title {
        font-size: 2.3rem;
        text-align: left;
    }

    .iconWrapper {
        display: flex;
        justify-content: left;
        margin: -55px 0 -35px 0;
    }

    .iconWrapper svg{
        width: 90px;
    }

    .paragraph {
        font-size: 0.95rem;
    }

    .listHeader {
        font-size: 1rem;
    }

    .clickableList li a{
        font-size: 0.95rem;
    }

    .footerText {
        text-align: center;
    }
}