.bannerBackground {
    width: 100%;
    height: 53vh;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titleWrapper{
    margin: -5% auto 0;
}

.iconWrapper {
    display: flex;
    justify-content: center;
    color: white;
    margin-bottom: -70px;
    width: 100%;
}

.overlay {
    background-color: rgba(0, 57, 92, 0.2);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    color: white;
    font-size: 4.5rem;
    font-weight: 800;
    text-align: center;
    padding: 0 20px;
    margin: 5% auto 100px auto;
}

.noCityMargin {
    margin-bottom: 0 !important;
}


.cityWrapper {
    width: 45%;
    max-width: 850px;
    margin: -7% auto 0;
    position: relative;
    z-index: 10;
}

.cityImage {
    width: 100%;
    height: auto;
    display: block;
}

@media (max-width: 1280px) {
    .title {
        font-size: 2.5rem;
    }
}


@media (max-width: 768px) {
    .bannerBackground {
        height: 250px;
    }
    .title {
        font-size: 2.5rem;
        color: white;
        text-align: center;
        margin: 0;
        width: auto;
    }

    .iconWrapper {
        margin-bottom: -60px;
    }
    .titleWrapper{
        margin: -5% auto 0;
        height: fit-content;
    }
    .cityWrapper {
        margin-top: -10%;
        width: 45%;
    }

    .iconWrapper svg{
        width: 90px;
    }
    .hidden{
        display: none;
        height: 0;
    }
}