.servicesSection {
    padding: 80px 20px;
    background: white;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px 60px;
}

.mainTitle {
    color: #00589E;
    font-size: 48px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 50px;
    font-family: sans-serif; /* Ajustar a la fuente del proyecto */
}

/* ---------------- ITEM ---------------- */

.serviceItem {
    position: relative;
    text-decoration: none;
    color: #111;
    font-size: 28px;
    font-weight: 600;
    padding-bottom: 14px;
    transition: color 0.3s ease;
}

/* Línea base */
.underline {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: #ccc;
    transition: all 0.35s cubic-bezier(.4,0,.2,1);
}

/* Hover */
.serviceItem:hover {
    color: #000;
}

.serviceItem:hover .underline {
    height: 2px;
    background: #000000;
    transform: scaleX(1.02);
}

/* Animación suave tipo grow */
.underline {
    transform-origin: left;
    transform: scaleX(1);
}

/* ---------------- FULL WIDTH (SIDING) ---------------- */

.fullWidth {
    grid-column: span 2;
}

/* ---------------- TABLET ---------------- */

.buttonWrapper {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.viewAllBtn {
    background-color: #00CCFF;
    color: #ffffff;
    border: none;
    padding: 15px 35px;
    font-size: 14px;
    font-weight: 800;
    text-transform: capitalize;
    cursor: pointer;
    border-radius: 2px;
    /* ANIMACIÓN */
    transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
    display: inline-block;
    outline: none;
}

.viewAllBtn:hover {
    background-color: #00589e;
}

@media (max-width: 1024px) {

    .mainTitle {
        font-size: 40px;
    }

    .container {
        width: 80%;
        grid-template-columns: 1fr 1fr;
    }

    .fullWidth {
        grid-column: span 2;
    }

    .serviceItem {
        font-size: 24px;
    }
}

/* ---------------- MOBILE ---------------- */

@media (max-width: 640px) {

    .servicesSection {
        padding: 80px 30px;
    }

    .mainTitle {
        font-size: 36px;
        margin-bottom: 30px;
    }

    .container {
        grid-template-columns: 1fr;
        gap: 30px;
    }

    .fullWidth {
        grid-column: span 1;
    }

    .serviceItem {
        font-size: 22px;
    }
}
